<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Down for Maintenance | MORT 11</title>
    {% if cdn_enabled() %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
                type="text/javascript"></script>
    {% else %}
        <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/lib/fontawesome/css/font-awesome.css">
        <script src="/static/lib/modernizr/modernizr.js"></script>
    {% endif %}

    <!-- Custom styling -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/elements.css">
    <!-- Bits from Kube CSS framework -->
    <link rel="stylesheet" href="/static/css/kube.css">
    <!-- Bootstrap 3 custom overrides -->
    <link rel="stylesheet" href="/static/css/bs-fixes.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>

    <!-- Apple TouchIcons -->
    <link rel="apple-touch-icon" sizes="76x76" href="/static/touch-icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/touch-icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/touch-icons/apple-touch-icon-180x180.png">
</head>
<body>
<div class="header">
    <!-- Banner -->
    <div class="row">
        <div class="col-md-12">
            <a href="{{ url_for('main.index') }}"><img src="/static/img/banner.png" id="banner"
                                                       alt="Mount Olive Robotics Team"></a>
        </div>
    </div>

    <nav class="navbar navbar-default" id="main-navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#collapsed-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="collapsed-navbar">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated() %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">{{ current_user.first_name }} {{ current_user.last_name }}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if current_user.is_admin %}
                                <li><a href="{{ url_for('admin.admin_index') }}">Admin</a></li>
                            {% endif %}
                            {% if current_user.can_use_cms %}
                                <li><a href="{{ url_for('cms') }}">CMS Admin</a></li>
                            {% endif %}
                            {% if current_user.can_view_orders %}
                                <li><a href="{{ url_for('orders.orders_index') }}">Orders</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{{ url_for('users.my_profile') }}">My Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

</div>


<div class="center">
    <section class="page-content">
        <div style="padding-top: 8%; padding-bottom: 8%">
            <h1>We're down for maintenance! :(</h1>

            <h3>Don't worry! We'll be back soon!</h3>
        </div>
    </section>
</div>
{% include 'bases/footer.html' %}
</body>
</html>


