<!--suppress ALL -->
<div class="footer" style="margin-top: 20px">
    <div class="footer-c-wrapper">
        <div class="row">
            <div class="col-md-8">
                <ul class="links">
                    <li><a href="/about">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/blog/category/news-and-events">News</a></li>
                    <li><a href="/media">Media</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/sponsors">Sponsors</a></li>
                </ul>
                <p class="copyright">&copy; 1996-2016 Mount Olive Robotics Education Association, Flanders NJ
                    07836</p>
            </div>
            <div class="col-md-4">
                <div class="row ">
                    <ul class="social-icons">
                        <div class="col-xs-4">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">

                                <input type="hidden" name="cmd" value="_s-xclick">

                                <input type="hidden" name="hosted_button_id" value="FLQDPVHX4ZGVJ">

                                <li><a href="#"><input type="image" src="/static/img/paypal_donate_button.png"
                                                       style="max-width: 110px; height: auto" border="0" name="submit"
                                                       alt="PayPal - The safer, easier way to pay online!"></a></li>

                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                     width="1" height="1">

                            </form>
                        </div>
                        <div class="col-xs-2">
                            <li>
                                <a href="https://www.twitter.com/frc11/" target="_blank">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-twitter fa-lg fa-inverse fa-stack-1x"></i>
                                    </span>
                                </a>
                            </li>
                        </div>
                        <div class="col-xs-2">
                            <li>
                                <a href="https://www.facebook.com/MORTteam11/" target="_blank">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-facebook fa-lg fa-inverse fa-stack-1x"></i>
                                    </span>
                                </a>
                            </li>
                        </div>
                        <div class="col-xs-2">
                            <li>
                                <a href="https://www.youtube.com/user/MORTTeam11" target="_blank">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </div>
                        <div class="col-xs-2">
                            <li>
                                <a href="https://instagram.com/frcteam11mort/" target="_blank">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
