<!--suppress ALL -->
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">

            <li class="header">MAIN NAVIGATION</li>
            {# Dashboard #}
            <li {% if page == "dashboard" %}class="active"{% endif %}><a href="{{ url_for('main.index') }}">
                <i class="fa fa-dashboard"></i> Dashboard</a>
            </li>

            {# Orders #}
            <li class="treeview {% if (page == "orders_unprocessed") or (page == "orders_in-progress") or (page ==
            "orders_shipped") or (page == "orders_completed") or (page == "orders") %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                    Orders
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu">
                    <li>
                        <a href="/orders/unprocessed">
                            <i class="fa fa-circle-o {% if page == "orders_unprocessed" %}text-red{% endif %}"></i>
                            Unprocessed
                        </a>
                    </li>

                    <li>
                        <a href="/orders/in-progress">
                            <i class="fa fa-circle-o {% if page == "orders_in-progress" %}text-red{% endif %}"></i>
                            In Progress
                        </a>
                    </li>

                    <li>
                        <a href="/orders/shipped">
                            <i class="fa fa-circle-o {% if page == "orders_shipped" %}text-red{% endif %}"></i>
                            Shipped
                        </a>
                    </li>

                    <li>
                        <a href="/orders/completed">
                            <i class="fa fa-circle-o  {% if page == "orders_completed" %}text-red{% endif %}"></i>
                            Complete
                        </a>
                    </li>
                </ul>
            </li>

            {# New Order #}
            <li {% if page == "new_order" %}class="active"{% endif %}>
                <a href="{{ url_for('OrderBackend:create') }}">
                    <i class="fa fa-plus"></i>
                    New Order
                </a>
            </li>

            {# Pending Orders #}
            <li {% if page == "pending_orders" %}class="active"{% endif %}>
                <a href="{{ url_for('PendingOrders:index') }}">
                    <i class="fa fa-hourglass-half"></i>
                    Pending Orders
                </a>
            </li>

            {# Budget viewer #}
            <li {% if page == "budgets" %}class="active"{% endif %}>
                <a href="{{ url_for('Budgets:index', fiscal_year=current_fiscal_year) }}">
                    <i class="fa fa-area-chart"></i>
                    Budgets
                </a>
            </li>

            <li class="header">DATA</li>

            {# Export data #}
            <li {% if page == "data_exporter" %}class="active"{% endif %}>
                <a href="{{ url_for('SystemService:data_exporter') }}">
                    <i class="fa fa-table"></i>
                    Export Data
                </a>
            </li>

            {# Historical data browser #}
            <li class="treeview  {% if (page == "budgets") %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-history"></i>
                    Historical Orders
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {% for year in distinct_fiscal_years %}
                        <li>
                            <a href="{{ url_for('Budgets:index', fiscal_year=year) }}">
                                <i class="fa fa-circle-o {% if year == fiscal_year %}text-red{% endif %}"></i>
                                {{ year }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li class="header">SETTINGS</li>

            {# Vendor manager #}
            <li {% if page == "vendors" %}class="active"{% endif %}>
                <a href="{{ url_for('Vendors:index') }}">
                    <i class="fa fa-credit-card"></i>
                    Vendors
                </a>
            </li>

            {# Administrative functions #}
            {% if current_user.is_admin %}
                <li class="header">ADMINISTRATION</li>
                <li {% if page == "admin" %}class="active"{% endif %}>
                    <a href="{{ url_for('Admin:index') }}">
                        <i class="fa fa-cogs"></i>
                        Admin
                    </a>
                </li>
            {% endif %}
        </ul>
    </section>
</aside>