{% extends 'base.html' %}
{% block title %}Completed Orders{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'bases/validation-error-base.html' %}
            <div class="box box-solid">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-sm-6"><h4><strong>Product</strong></h4></div>
                        <div class="col-sm-2"><h4><strong>Vendor</strong></h4></div>
                        <div class="col-sm-2"><h4><strong>Subteam</strong></h4></div>
                        <div class="col-sm-2"><h4><strong>Price</strong></h4></div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="box-group" id="accordion">
                        {% if num_of_orders > 0 %}
                            {% for order in orders %}
                                <div class="panel box box-danger">
                                    <div class="box-header with-border">
                                        <h4>
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#oid{{ order.id }}">
                                                <div class="row">
                                                    <div class="col-md-6">{{ order.part_name }}</div>
                                                    <div class="col-md-2">{{ order.vendor.vendor_name }}</div>
                                                    <div class="col-md-2">{{ order.subteam.name }}</div>
                                                    <div class="col-md-2"><strong>${{ order.total }}</strong></div>
                                                </div>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="oid{{ order.id }}" class="panel-collapse collapse">
                                        <div class="box-body">
                                            <div class="col-md-12">
                                                <div class="nav-tabs-custom">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a href="#orderDetailsOID{{ order.id }}"
                                                                              data-toggle="tab">Order
                                                            Details</a>
                                                        </li>
                                                        <li><a href="#vendorDetailsOID{{ order.id }}" data-toggle="tab">Vendor
                                                            Details</a></li>
                                                        <li><a href="#manageOrderOID{{ order.id }}"
                                                               data-toggle="tab">Manage</a></li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="orderDetailsOID{{ order.id }}">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <fieldset>
                                                                        <legend>Order</legend>
                                                                        <p><strong>ID - </strong> {{ order.id }}</p>
                                                                        <p><strong>Part URL - </strong>
                                                                            <a href="{{ order.part_url }}"
                                                                               target="_blank">{{ order.part_url }}</a>
                                                                        </p>
                                                                        <p><strong>Part Number - </strong>
                                                                            {{ order.part_number }}</p>
                                                                        <p><strong>Unit Price - </strong>
                                                                            ${{ order.part_unit_price }}</p>
                                                                        <p><strong>Quantity
                                                                            - </strong> {{ order.part_quantity }}</p>
                                                                        <hr>
                                                                        <table class="table table-bordered text-center">
                                                                            <tr>
                                                                                <td><strong>Subtotal</strong></td>
                                                                                <td>${{ order.part_total_price }}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><strong>S&H</strong></td>
                                                                                <td>${{ order.part_shipping_cost }}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><strong>Credit</strong></td>
                                                                                <td>${{ order.credit }}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><strong>Total</strong></td>
                                                                                <td>${{ order.total }}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <fieldset>
                                                                        <legend>Metadata</legend>
                                                                        <p><strong>Ordering Subteam - </strong>
                                                                            {{ order.subteam.name }}</p>
                                                                        <p><strong>Ordered By
                                                                            - </strong> {{ order.ordering_user.first_name }} {{ order.ordering_user.last_name }}
                                                                        </p>
                                                                        <p><strong>Ordered On
                                                                            - </strong> {{ order.part_ordered_on }}</p>
                                                                        <p><strong>Needed By
                                                                            - </strong> {{ order.part_needed_by }}
                                                                        </p>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="vendorDetailsOID{{ order.id }}">
                                                            <fieldset>
                                                                <legend>Vendor Details</legend>
                                                                <p><strong>Name
                                                                    - </strong> {{ order.vendor.vendor_name }}
                                                                </p>
                                                                <p><strong>URL - </strong> <a
                                                                        href="{{ order.vendor.vendor_url }}"
                                                                        target="_blank">{{ order.vendor.vendor_url }}</a>
                                                                </p>
                                                                <p><strong>Phone
                                                                    - </strong> {{ order.vendor.vendor_phone }}
                                                                </p>
                                                                <p><strong>Email
                                                                    - </strong> {{ order.vendor.vendor_email }}
                                                                </p>
                                                            </fieldset>
                                                        </div>
                                                        <div class="tab-pane" id="manageOrderOID{{ order.id }}">
                                                            <div class="row">
                                                                {% if current_user.can_update_order_status or current_user.is_admin %}
                                                                    <div class="col-md-6">
                                                                        <fieldset>
                                                                            <legend>Order Status</legend>
                                                                            <div class="form-group">
                                                                                <!--suppress HtmlUnknownTarget -->
                                                                                <form action="{{ url_for('OrderBackend:update_part_status') }}"
                                                                                      method="post">
                                                                                    <input type="hidden"
                                                                                           value="{{ order.id }}"
                                                                                           name="oID">
                                                                                    <input type="hidden"
                                                                                           name="currentStatus"
                                                                                           value="completed">
                                                                                    <select class="form-control"
                                                                                            title="status"
                                                                                            name="updatedStatus">
                                                                                        <option value="unprocessed">
                                                                                            Unprocessed
                                                                                        </option>
                                                                                        <option value="in-progress">In
                                                                                            Progress
                                                                                        </option>
                                                                                        <option value="shipped">
                                                                                            Shipped
                                                                                        </option>
                                                                                        <option value="completed"
                                                                                                selected>
                                                                                            Completed
                                                                                        </option>
                                                                                    </select>
                                                                                    <hr>
                                                                                    <button type="submit"
                                                                                            class="btn btn-block btn-success btn-flat">
                                                                                        Update
                                                                                    </button>
                                                                                </form>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                {% endif %}
                                                                <div class="col-md-6">
                                                                    <fieldset>
                                                                        <legend>Modify Order</legend>
                                                                        {% if current_user.id == order.ordered_by or current_user.is_admin %}
                                                                            <a href="{{ url_for('OrderBackend:update', order_status="unprocessed",order_id = order.id) }}"
                                                                               class="btn btn-block btn-success btn-flat">
                                                                                Edit
                                                                            </a>
                                                                        {% endif %}
                                                                        <button type="button"
                                                                                class="btn btn-block btn-warning btn-flat disabled">
                                                                            Suggest alternate vendor
                                                                        </button>
                                                                        {% if current_user.id == order.ordered_by or current_user.is_admin %}
                                                                            <a href="{{ url_for('OrderBackend:delete', order_status="unprocessed",order_id = order.id) }}"
                                                                               class="btn btn-block btn-danger btn-flat">
                                                                                Delete
                                                                            </a>
                                                                        {% endif %}
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h3 style="text-align: center;"><strong>No orders</strong></h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}