{% extends 'orders/view/order-base.html' %}
{% block title %}In Progress Orders{% endblock %}
{% block order_status_controls %}
    <input type="hidden" name="currentStatus" value="in-progress">
    <select class="form-control" title="status" name="updatedStatus">
        <option value="unprocessed">Unprocessed</option>
        <option value="in-progress" selected>In Progress</option>
        <option value="shipped">Shipped</option>
        <option value="completed">Completed</option>
    </select>
{% endblock %}