{% extends 'orders/view/order-base.html' %}
{% block title %}Unprocessed Orders{% endblock %}
{% block order_status_controls %}
    <input type="hidden" name="currentStatus" value="unprocessed">
    <select class="form-control" title="status" name="updatedStatus">
        <option value="unprocessed" selected>Unprocessed</option>
        <option value="in-progress">In Progress</option>
        <option value="shipped">Shipped</option>
        <option value="completed">Completed</option>
    </select>
{% endblock %}