{% extends 'base.html' %}
{% block page_title %}Budgets Overview{% endblock %}
{% block page_content %}
    <h2 class="text-center"><strong>Budgets</strong></h2>
    <hr>
    {% for i in range(subteams|length) %}
        <div class="row">
            <div class="col-md-10 well {{ css_classes[i] }}">
                <a href="/orders/budgets/{{ fiscal_year }}/{{ ids[i] }}">
                    <h4 class="pull-left"><strong>{{ subteams[i] }}</strong></h4>
                </a>
                <h4 class="pull-right"><strong>${{ cash_left[i] }}/${{ started_with[i] }}</strong></h4>
            </div>
            {% if current_user.is_admin %}
                <div class="col-md-2 well">
                    <a href="/orders/budgets/{{ fiscal_year }}/{{ ids[i] }}/set" class="btn btn-danger">Set Budget</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <hr>
    <div class="well">
        <h3><strong>Budget Color Key</strong></h3>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <span class="budget-full" style="padding: 5px;"><strong>Green</strong></span> <strong>&rarr;
                >{{ thresholds[0]*100 }}% remaining</strong>
            </div>
            <div class="col-md-2">
                <span class="budget-low" style="padding: 5px;"><strong>Yellow</strong></span> <strong>&rarr;
                >{{ thresholds[1]*100 }}% remaining</strong>
            </div>
            <div class="col-md-2">
                <span class="budget-verylow" style="padding: 5px;"><strong>Orange</strong></span> <strong>&rarr;
                >{{ thresholds[2]*100 }}% remaining</strong>
            </div>
            <div class="col-md-2">
                <span class="budget-critical" style="padding: 5px;"><strong>Red</strong></span> <strong>&rarr;
                <{{ thresholds[2]*100 }}% remaining</strong>
            </div>
            <div class="col-md-3">
                <span class="budget-empty" style="padding: 5px;"><strong>Black</strong></span> <strong>&rarr; 0% or
                Negative</strong>
            </div>
        </div>
    </div>
{% endblock %}