.budget, .budget-full, .budget-medium, .budget-low, .budget-verylow, .budget-critical, .budget-empty {
  border: 1px solid #2c2c2c; }

.budget a, .budget-full a, .budget-medium a, .budget-low a, .budget-verylow a, .budget-critical a, .budget-empty a {
  color: inherit; }

.budget-full {
  background-color: #2dd22d; }

.budget-medium {
  background-color: #98cb11; }

.budget-low {
  background-color: #efc70f; }

.budget-verylow {
  background-color: #fca611; }

.budget-critical {
  background-color: #f97116;
  color: #fff; }

.budget-empty {
  background-color: #ff0000;
  color: white; }

