{% extends 'base.html' %}
{% block title %}New Order{% endblock %}
{% block content %}
    <div id="newOrder">
        <h3><strong>Vendor/Part Info</strong></h3>
        <section>
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <legend>Vendor Details</legend>
                        <div class="form-group">
                            <label>Vendor</label>
                            <select class="form-control" title="vendor">
                                <option value="adafruit">Adafruit</option>
                                <option value="vexpro">VexPro</option>
                            </select>
                            <hr>
                            <button type="submit"
                                    class="btn btn-block btn-warning btn-flat">
                                Manage Vendors
                            </button>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <legend>Part Info</legend>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                        <div class="form-group">
                            <label>URL</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                        <div class="form-group">
                            <label>Part #</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                        <div class="form-group">
                            <label>Unit Price</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                    </fieldset>
                </div>
            </div>
        </section>
        <h3><strong>Metadata</strong></h3>
        <section>
            <fieldset>
                <legend>Metadata</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ordering Group</label>
                            <select class="form-control" title="orderingGroup">
                                <option value="programming">Programming</option>
                                <option value="electrical">Electrical</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Needed By</label>

                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="datepicker">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ordered By</label>
                            <input type="text" class="form-control" value="Matt Turi" disabled
                                   title="orderedBy">
                        </div>
                        <div class="form-group">
                            <label>Order Placed On</label>
                            <input type="text" class="form-control" value="7/9/16" disabled title="orderedOn">
                        </div>
                    </div>
                </div>
            </fieldset>
        </section>
        <h3><strong>Review</strong></h3>
        <section>
            <p>Please review your order before submitting</p>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered" style="background: whitesmoke;">
                        <tbody>
                        <tr>
                            <td><strong>Part</strong></td>
                            <td>CIM Motor</td>
                        </tr>
                        <tr>
                            <td><strong>URL</strong></td>
                            <td><a href="http://google.com" target="_blank">http://google.com</a></td>
                        </tr>
                        <tr>
                            <td><strong>Quantity</strong></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><strong>Unit Price</strong></td>
                            <td>$12</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered" style="background: whitesmoke;">
                        <tbody>
                        <tr>
                            <td><strong>Subtotal</strong></td>
                            <td>$20</td>
                        </tr>
                        <tr>
                            <td><strong>S&H</strong></td>
                            <td>TBD</td>
                        </tr>
                        <tr>
                            <td><strong>Credit</strong></td>
                            <td>TBD</td>
                        </tr>
                        <tr>
                            <td><strong>Total</strong></td>
                            <td>$20</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-flat btn-success btn-block">Submit</button>
            </div>
        </section>
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/static/css/jquery.steps.css">
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
    <script type="text/javascript">
        $("#newOrder").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true
        });
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
{% endblock %}