{% extends 'base.html' %}
{% block page_title %}Admin Dashboard{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h3>Quick Stats</h3>

                <div class="row">
                    <div class="col-md-4 center">
                        <h5># of users</h5>

                        <h2>{{ user_count }}</h2>
                    </div>
                    <div class="col-md-4 center">
                        <h4># of pages</h4>

                        <h2>{{ page_count }}</h2>
                    </div>
                    <div class="col-md-4 center">
                        <h5>$ processed</h5>

                        <h2>${{ money_processed }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h3>Users</h3>
                <a href="{{ url_for('admin.users_overview') }}" class="btn btn-info btn-block"><i
                        class="fa fa-users"></i> Users Overview</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h3>Orders</h3>
                <a href="{{ url_for('OrderSystem:index') }}" class="btn btn-warning btn-block"><i
                        class="fa fa-cart-arrow-down"></i> Orders Manager</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h3>Subteams</h3>
                <a href="{{ url_for('admin.subteam_manager_overview') }}" class="btn btn-danger btn-block"><i
                        class="fa fa-cubes"></i> Manage
                    Subteams</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h3>CMS</h3>
                <a href="{{ url_for('cms') }}" class="btn btn-success btn-block"><i class="fa fa-pencil-square-o"></i>
                    CMS Admin</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h3>Logs</h3>
                <a href="{{ url_for('admin.download_log') }}" class="btn btn-info btn-block" target="_blank"><i
                        class="fa fa-file-text"></i> Download
                    Logfile</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h3>Regenerate Files</h3>
                <a href="{{ url_for('admin.rerender_files') }}" class="btn btn-danger btn-block"
                   onclick="return confirm('Are you sure you want to regenerate files from database?')"><i
                        class="fa fa-database"></i> Regenerate Files
                </a>
            </div>
        </div>
    </div>
{% endblock %}