{% extends 'base.html' %}
{% block title %}Budget Summary for {{ subteam.name }}{% endblock %}
{% block content %}
    <div id="order-summary">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center"><strong>Summary for {{ subteam.name }}</strong></h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <td><strong>Product Name</strong></td>
                            <td class="text-center"><strong>Unit Price</strong></td>
                            <td class="text-center"><strong>Qty</strong></td>
                            <td class="text-center"><strong>Ordered On</strong></td>
                            <td class="text-center"><strong>Ordered By</strong></td>
                            <td class="text-center"><strong>Approved By</strong></td>
                            <td class="text-right"><strong>Total</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders_by_subteam %}
                            <tr>
                                <td>{{ order.part_name }}</td>
                                <td class="text-center">${{ order.part_unit_price }}</td>
                                <td class="text-center">{{ order.part_quantity }}</td>
                                <td class="text-center">{{ order.part_ordered_on }}</td>
                                <td class="text-center">{{ order.ordering_user.first_name }} {{ order.ordering_user.last_name }}</td>
                                <td class="text-center">{{ order.approving_user.first_name }} {{ order.approving_user.last_name }}
                                </td>
                                <td class="text-right">${{ order.part_total_price }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="highrow"></td>
                            <td class="highrow"></td>
                            <td class="highrow"></td>
                            <td class="highrow"></td>
                            <td class="highrow"></td>
                            <td class="highrow text-center"><strong>Subtotal</strong></td>
                            <td class="highrow text-right">${{ total }}</td>
                        </tr>
                        <tr>
                            <td class="emptyrow"></td>
                            <td class="emptyrow"></td>
                            <td class="emptyrow"></td>
                            <td class="emptyrow"></td>
                            <td class="emptyrow"></td>
                            <td class="emptyrow text-center"><strong>Total Expenditures</strong></td>
                            <td class="emptyrow text-right">${{ total }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" onclick="printContent('order-summary')">
        <span class="fa fa-print"></span>&nbsp; Print Summary
    </button>
{% endblock %}
{% block stylesheets %}
    <style>
        .table > tbody > tr > .emptyrow {
            border-top: none;
        }

        .table > thead > tr > .emptyrow {
            border-bottom: none;
        }

        .table > tbody > tr > .highrow {
            border-top: 3px solid;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script>
        function printContent(element) {
            var original = document.body.innerHTML;
            document.body.innerHTML = document.getElementById(element).innerHTML;
            window.print();
            document.body.innerHTML = original;
        }
    </script>
{% endblock %}