{% extends 'base.html' %}
{% block title %}New Order{% endblock %}
{% block content %}
        {% include 'bases/validation-error-base.html' %}
        <form method="post">
            {{ form.csrf_token }}
            <div id="newOrder">
                <h3><strong>Vendor/Part Info</strong></h3>
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Vendor Details</legend>
                                <div class="form-group">
                                    <label>Vendor</label>
                                    <select class="form-control" name="vendor">
                                        {% for vendor in vendors %}
                                            <option value="{{ vendor.id }}">{{ vendor.vendor_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <hr>
                                    <a href="{{ url_for('Vendors:index') }}" class="btn btn-block btn-warning btn-flat">
                                        Manage Vendors
                                    </a>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Part Info</legend>
                                <div class="form-group">
                                    {{ form.part_name.label }}
                                    {{ form.part_name(class="form-control", placeholder="Part Name", id="partName") }}
                                </div>
                                <div class="form-group">
                                    {{ form.part_url.label }}
                                    {{ form.part_url(class="form-control", placeholder="Part URL", id="partURL") }}
                                </div>
                                <div class="form-group">
                                    {{ form.part_number.label }}
                                    {{ form.part_number(class="form-control", placeholder="Part Number") }}
                                </div>
                                <div class="form-group">
                                    {{ form.part_quantity.label }}
                                    {{ form.part_quantity(class="form-control", placeholder="Part Quantity", id="partQuantity") }}
                                </div>
                                <div class="form-group">
                                    {{ form.part_unit_price.label }}
                                    {{ form.part_unit_price(class="form-control", placeholder="Part Unit Price", id="partUnitPrice") }}
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </section>
                <h3><strong>Metadata</strong></h3>
                <section>
                    <fieldset>
                        <legend>Metadata</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ordering Subteam</label>
                                    <select class="form-control" name="for_subteam"
                                            {% if not current_user.is_admin %}disabled{% endif %}>
                                        {% if current_user.is_admin %}
                                            {% for subteam in subteams %}
                                                <option value="{{ subteam.id }}"
                                                        {% if subteam.id == current_user.subteam_ref.id %}selected{% endif %}>{{ subteam.name }}</option>
                                            {% endfor %}
                                        {% else %}
                                            <option value="{{ current_user.subteam_ref.id }}">{{ current_user.subteam_ref.name }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    {{ form.needed_by.label }}
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        {{ form.needed_by(class="form-control pull-right", id="datepicker") }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ordered By</label>
                                    <input type="text" class="form-control"
                                           value="{{ current_user.first_name }} {{ current_user.last_name }}" disabled
                                           title="orderedBy">
                                </div>
                                <div class="form-group">
                                    <label>Order Placed On</label>
                                    <input type="text" class="form-control" value="{{ today_date }}" disabled
                                           title="orderedOn">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </section>
                <h3><strong>Review</strong></h3>
                <section>
                    <p>Please review your order before submitting</p>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-bordered" style="background: whitesmoke;">
                                <tbody>
                                <tr>
                                    <td><strong>Part</strong></td>
                                    <td id="reviewPartName"></td>
                                </tr>
                                <tr>
                                    <td><strong>URL</strong></td>
                                    <td id="reviewPartUrl"></td>
                                </tr>
                                <tr>
                                    <td><strong>Quantity</strong></td>
                                    <td id="reviewPartQuantity"></td>
                                </tr>
                                <tr>
                                    <td><strong>Unit Price</strong></td>
                                    <td id="reviewPartUnitPrice"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-bordered" style="background: whitesmoke;">
                                <tbody>
                                <tr>
                                    <td><strong>Subtotal</strong></td>
                                    <td id="subtotal"></td>
                                </tr>
                                <tr>
                                    <td><strong>S&H</strong></td>
                                    <td id="reviewShipping">TBD</td>
                                </tr>
                                <tr>
                                    <td><strong>Credit Back</strong></td>
                                    <td id="reviewCredit">TBD</td>
                                </tr>
                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td id="total"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="submit" class="btn btn-flat btn-success btn-block">Submit</button>
                    </div>
                </section>
            </div>
        </form>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/static/css/jquery.steps.css">
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
    <script src="/static/js/orders.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#newOrder").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true
        });
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
{% endblock %}