{% extends 'base.html' %}
{% block page_title %}Change password{% endblock %}
{% block page_content %}
    {% include 'bases/validation-error-base.html' %}
    <div class="row">
        <div class="col-md-6">
            <form action="{{ url_for('users.change_password') }}" method="post">
                {{ form.csrf_token }}
                {{ form.current_password.label }} {{ form.current_password(class="form-control") }}
                {{ form.new_password.label }} {{ form.new_password(class="form-control") }}
                {{ form.confirm.label }} {{ form.confirm(class="form-control") }}
                <hr>
                <input type="submit" value="Change" class="btn btn-warning btn-block">
            </form>
        </div>
    </div>
{% endblock %}