{{ orders|length }} new were added to the unprocessed queue!<br>
Please have a look at the order summary below, then view the full order at <a href="http://orders.mort11.org"
                                                                              target="_blank">orders.mort11.org</a>
<br>
{% for order in orders %}
    <br>
    <strong>Part Name</strong> - {{ order[3] }}<br>
    <strong>URL</strong> - {{ orders[4] }}<br>
    <strong>Ordered on</strong> - {{ order[14] }}<br>
    <strong>Needed by</strong> - {{ order[11] }}<br>
    {{ order[7] }} units x ${{ order[8] }} p/u = ${{ order[9] }}
    <hr>
{% endfor %}
