{{ orders|length }} new orders are pending approval!<br>
Please have a look at the order summary below, then view the full order at <a href="http://orders.mort11.org"
                                                                              target="_blank">orders.mort11.org</a>
<br>
{% for order in orders %}
    <br>
    <strong>Part Name</strong>: {{ order[3] }}<br>
    <strong>URL</strong>: {{ order[4] }}<br>
    <strong>Ordered on</strong>: {{ order[14] }}<br>
    <strong>Needed by</strong>: {{ order[11] }}<br>
    {{ order[6] }} units x ${{ order[7] }} p/u = ${{ order[8] }}
    <hr>
{% endfor %}
