{% extends 'base.html' %}
{% block page_title %}Reset Password{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'bases/validation-error-base.html' %}
            <h2>Resetting Password...</h2>

            <p>Please make it something strong!</p>
            <hr>

            <form method="post" class="resetPasswdForm">
                <div class="row">
                    {{ form.csrf_token }}
                    <div class="col-md-12">
                        {{ form.password.label }}{{ form.password(class="form-control") }}</div>
                    <div class="col-md-12">
                        {{ form.confirm.label }}{{ form.confirm(class="form-control") }}</div>
                    <input type="submit" id="submit-btn" class="btn btn-danger" style="margin-top: 15px;"
                           value="Reset Password">
                </div>
            </form>
        </div>
    </div>
{% endblock %}