{% extends 'base.html' %}
{% block title %}Budgets{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 well {{ css_classes[i] }}">
                <a href="#">
                    <h4 class="pull-left"><strong>Programming</strong></h4>
                </a>
                <h4 class="pull-right"><strong>$250/$350</strong></h4>
            </div>
            <div class="col-md-2 well">
                <a href="#" class="btn btn-danger">Set Budget</a>
            </div>
        </div>
    </div>
{% endblock %}