{% extends 'base.html' %}
{% block page_title %}Editing Subteam - {{ subteam.name }}{% endblock %}
{% block page_content %}
    {% include 'bases/validation-error-base.html' %}
    <form method="post" action="/admin/subteams/edit/{{ subteam.id }}">
        <div class="row">
            {{ form.csrf_token }}
            <div class="col-md-6">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Subteam Info</legend>
                    {{ form.subteam_name.label }} {{ form.subteam_name(class="form-control", value=subteam.name, maxlength="100") }}
                    {{ form.subteam_description.label }}
                    <textarea name="subteam_description" class="form-control"
                              maxlength="1500">{{ subteam.description }}</textarea>
                    <hr>
                    {{ form.hide_from_budgets.label }} <input type="checkbox" name="hide_from_budgets"
                                                              {% if subteam.hidden_from_budgets_list %}checked{% endif %}>
                    <br>
                    {{ form.hide_from_subteams.label }} <input type="checkbox" name="hide_from_subteams"
                                                               {% if subteam.hidden_from_subteams_list %}checked{% endif %}>
                </fieldset>
            </div>
            <button type="submit" class="btn btn-danger btn-block">Update Subteam</button>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="/static/js/bootstrap-maxlength.min.js" type="text/javascript"></script>
    <script>
        $('input[maxlength]').maxlength({
            placement: 'bottom-right'
        });
    </script>
{% endblock %}