{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    {% include 'bases/validation-error-base.html' %}

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ orders_this_year }}</h3>
                    <p>Orders in {{ fiscal_year }}</p>
                </div>
                <div class="icon">
                    <i class="ion-android-cart"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3><sup style="font-size: 20px">$</sup>{{ money_spent_this_season }}</h3>
                    <p>Spent this season</p>
                </div>
                <div class="icon">
                    <i class="ion ion-cash"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ num_of_vendors }}</h3>
                    <p>Vendors</p>
                </div>
                <div class="icon">
                    <i class="ion ion-card"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ fiscal_year }}</h3>
                    <p>Fiscal Year</p>
                </div>
                <div class="icon">
                    <i class="ion ion-calendar"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}