{% extends 'base.html' %}
{% block page_title %}Add user{% endblock %}
{% block page_content %}
    {% include 'bases/validation-error-base.html' %}
    <form method="post" action="{{ url_for('admin.add_user') }}">
        <div class="row">
            {{ form.csrf_token }}
            <div class="col-md-6">
                <div class="row">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">User Info</legend>
                        <div class="col-md-12"> {{ form.username.label }} {{ form.username(class="form-control", maxlength="30") }}</div>
                        <div class="col-md-6">{{ form.first_name.label }} {{ form.first_name(class="form-control", maxlength="30") }}</div>
                        <div class="col-md-6">{{ form.last_name.label }} {{ form.last_name(class="form-control", maxlength="30") }}</div>
                        <div class="col-md-12">{{ form.email.label }} {{ form.email(type="email", class="form-control", maxlength="50") }}
                            {{ form.grad_year.label }} {{ form.grad_year(type="number", class="form-control") }}</div>
                        <div class="col-md-6">
                            <label>Subteam</label>
                            <select name="subteam" id="subteam" class="form-control" required>
                                {% for subteam in subteams %}
                                    <option value="{{ subteam.id }}">{{ subteam.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6"> {{ form.team_role.label }} {{ form.team_role(class="form-control") }}</div>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-6">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Administration</legend>
                    {{ form.is_admin }} {{ form.is_admin.label }}
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">CMS</legend>
                    {{ form.can_use_cms }} {{ form.can_use_cms.label }}
                    <br>
                    {{ form.is_cms_admin }} {{ form.is_cms_admin.label }}
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Order Management</legend>
                    {{ form.can_view_orders }} {{ form.can_view_orders.label }}
                    <br>
                    {{ form.can_edit_orders }} {{ form.can_edit_orders.label }}
                    <br>
                    {{ form.can_approve_orders }} {{ form.can_approve_orders.label }}
                    <br>
                    {{ form.receive_site_mail }} {{ form.receive_site_mail.label }}
                    <br>
                    {{ form.can_update_order_status }} {{ form.can_update_order_status.label }}
                </fieldset>
            </div>
            <button type="submit" class="btn btn-danger btn-block">Add User</button>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="/static/js/bootstrap-maxlength.min.js" type="text/javascript"></script>
    <script>
        $('input[maxlength]').maxlength({
            placement: 'bottom-right'
        });
    </script>
{% endblock %}
