{% extends 'base.html' %}
{% block page_title %}Editing user {{ user.username }}{% endblock %}
{% block page_content %}
    {% include 'bases/validation-error-base.html' %}
    <form method="post" action="/admin/users/edit/{{ user.id }}">
        <div class="row">
            {{ form.csrf_token }}
            <div class="col-md-6">
                <div class="row">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">User Info</legend>
                        <div class="col-md-12"> {{ form.username.label }} {{ form.username(class="form-control", value=user.username, maxlength="30") }}</div>
                        <div class="col-md-6">{{ form.first_name.label }} {{ form.first_name(class="form-control", value=user.first_name, maxlength="30") }}</div>
                        <div class="col-md-6">{{ form.last_name.label }} {{ form.last_name(class="form-control", value=user.last_name, maxlength="30") }}</div>
                        <div class="col-md-12">{{ form.email.label }} {{ form.email(type="email", class="form-control",  value=user.email, maxlength="50") }}
                            {{ form.grad_year.label }} {{ form.grad_year(type="number", class="form-control", value=user.grad_year) }}</div>
                        <div class="col-md-6"><label>Subteam</label>
                            <select name="subteam" id="subteam" class="form-control" required>
                                {% for subteam in subteams %}
                                    <option value="{{ subteam.id }}"
                                            {% if user.subteam == subteam.id %}selected{% endif %}>{{ subteam.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            {{ form.team_role.label }}
                            <select name="team_role" class="form-control" required>
                                {% for role in team_roles %}
                                    <option value="{{ role[0] }}"
                                            {% if user.team_role == role[0] %}selected{% endif %}>{{ role[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-6">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Administration</legend>
                    <input type="checkbox" name="is_admin"
                           {% if user.is_admin %}checked{% endif %}> {{ form.is_admin.label }}
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">CMS</legend>
                    <input type="checkbox" name="can_use_cms"
                           {% if user.can_use_cms %}checked{% endif %}> {{ form.can_use_cms.label }}
                    <br>
                    <input type="checkbox" name="is_cms_admin"
                           {% if user.is_cms_admin %}checked{% endif %}> {{ form.is_cms_admin.label }}
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Order Management</legend>
                    <input type="checkbox" name="can_view_orders"
                           {% if user.can_view_orders %}checked{% endif %}> {{ form.can_view_orders.label }}
                    <br>
                    <input type="checkbox" name="can_edit_orders"
                           {% if user.can_edit_orders %}checked{% endif %}> {{ form.can_edit_orders.label }}
                    <br>
                    <input type="checkbox" name="can_approve_orders"
                           {% if user.can_approve_orders %}checked{% endif %}> {{ form.can_approve_orders.label }}
                    <br>
                    <input type="checkbox" name="receive_site_mail"
                           {% if user.receive_site_mail %}checked{% endif %}> {{ form.receive_site_mail.label }}
                    <br>
                    <input type="checkbox" name="can_update_order_status"
                           {% if user.can_update_order_status %}checked{% endif %}> {{ form.can_update_order_status.label }}
                </fieldset>
            </div>
            <button type="submit" class="btn btn-danger btn-block">Update User</button>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="/static/js/bootstrap-maxlength.min.js" type="text/javascript"></script>
    <script>
        $('input[maxlength]').maxlength({
            placement: 'bottom-right'
        });
    </script>
{% endblock %}