{% extends 'base.html' %}
{% block page_content %}
    {% include 'bases/index-filler.html' %}
    {% if current_user.is_cms_admin %}
        <a href="/cms/pages/edit-index" class="btn btn-danger btn-block" style="margin-top: 15px!important;">Edit
            page</a>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="/static/js/tweetFetcher/tweetFetcher.js"></script>
    <script src="/static/js/tweetFetcher/tweetFetchConfig.js"></script>
    <script src="/static/js/mort/countdown.js"></script>
{% endblock %}