{% extends 'base.html' %}
{% block title %}Edit User{% endblock %}
{% block content %}
    <div class="container">
        {% include 'bases/validation-error-base.html' %}
        <form method="post">
            {{ form.csrf_token }}
            <div id="newUser">
                <h3><strong>User Details</strong></h3>
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ form.username.label }}</label>
                                {{ form.username(class="form-control", placeholder="Username", value=user.username) }}
                                <label>{{ form.first_name.label }}</label>
                                {{ form.first_name(class="form-control", placeholder="First Name", value=user.first_name) }}
                                <label>{{ form.last_name.label }}</label>
                                {{ form.last_name(class="form-control", placeholder="Last Name", value=user.last_name) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>{{ form.email.label }}</label>
                            {{ form.email(class="form-control", placeholder="Email", value=user.email) }}
                            <label>Subteam</label>
                            <select class="form-control" name="subteam">
                                {% for subteam in subteams %}
                                    <option value="{{ subteam.id }}"
                                            {% if subteam.id == user.subteam %}selected{% endif %}>{{ subteam.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </section>
                <h3><strong>Permissions</strong></h3>
                <section>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <td><strong>Permission</strong></td>
                                    <td><strong>Toggle</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ form.is_admin.label }}</td>
                                    <td>{{ form.is_admin(checked=user.is_admin) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.can_receive_pending_orders.label }}</td>
                                    <td>{{ form.can_receive_pending_orders(checked=user.can_receive_pending_orders) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.can_approve_orders.label }}</td>
                                    <td>{{ form.can_approve_orders(checked=user.can_approve_orders) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.can_update_order_status.label }}</td>
                                    <td>{{ form.can_update_order_status(checked=user.can_update_order_status) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.can_receive_order_notifications.label }}</td>
                                    <td>{{ form.can_receive_order_notifications(checked=user.can_receive_order_notifications) }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <h3><strong>Review</strong></h3>
                <section>
                    <button type="submit" class="btn btn-flat btn-success btn-block">Submit</button>
                </section>
            </div>
        </form>
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/jquery.steps.css">
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
    <script type="text/javascript">
        $("#newUser").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true
        });
    </script>
{% endblock %}