{% extends 'base.html' %}
{% block page_title %}Forgot password | MORT 11{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            {% include 'bases/validation-error-base.html' %}
            <div class="col-md-12">
                <form method="post">
                    {{ form.csrf_token }}
                    {{ form.email.label }} {{ form.email (class="form-control") }}
                    {#                    <hr>#}
                    {#                    <strong>Please prove that your not a bot</strong>#}
                    {#                    {{ form.recaptcha }}#}
                    <br>
                    <input type="submit" class="btn btn-danger" value="Forgot password">
                </form>
            </div>
        </div>
    </div>
{% endblock %}