{% extends 'base.html' %}
{% block page_title %}CMS Admin{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h3>Pages</h3>
                <a href="{{ url_for('pages.pages_overview') }}" class="btn btn-success btn-block">Pages Overview</a>
                {% if current_user.is_cms_admin %}
                    <a href="{{ url_for('pages.edit_index') }}" class="btn btn-warning btn-block">Index Editor</a>
                    <a href="{{ url_for('pages.edit_navbar') }}" class="btn btn-info btn-block">Navbar Editor</a>
                    <a href="{{ url_for('pages.edit_countdown_script') }}" class="btn btn-danger btn-block">Countdown
                        Script
                        Editor</a>
                    <a href="{{ url_for('pages.edit_rbkg_script') }}" class="btn btn-danger btn-block">Login Background
                        Script
                        Editor</a>
                    <a href="{{ url_for('pages.edit_footer') }}" class="btn btn-success btn-block">Footer Editor</a>
                    <a href="{{ url_for('pages.edit_styles') }}" class="btn btn-warning btn-block">Styles Editor</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}