<script src="/static/js/tinymce/tinymce.min.js"></script>
<script>
    var random = new Date().getTime();
    tinymce.init({
        selector: "#page-content",
        theme: "modern",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview media | forecolor backcolor emoticons",
        image_advtab: true,
        browser_spellcheck: true,
        image_class_list: [
            {title: "Responsive", value: 'img-responsive'},
            {title: "Responsive Thumbnail", value: 'img-responsive img-thumbnail'}
        ],
        valid_elements: '*[*]',
        extended_valid_elements: "script[src|type|language]",
        content_css: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css, https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css, /static/css/styles.css?" + random + ", /static/css/kube.css, /static/css/bs-fixes.css?" + random
    });
</script>