{% extends 'base.html' %}
{% block page_title %}Editing order #{{ order.id }}{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'bases/validation-error-base.html' %}
            <form method="post" class="form-group">
                {{ form.csrf_token }}
                {{ form.fiscal_year(type="hidden", value=order.fiscal_year) }}
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Vendor Info</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Vendor</label>
                            <select name="vendor" id="vendor" class="form-control" required>
                                {% for vendor in vendors %}
                                    <option value="{{ vendor.id }}"
                                            {% if order.vendor_id == vendor.id %}selected{% endif %}>{{ vendor.vendor_name }}</option>
                                {% endfor %}
                            </select>

                            <p>Vendor not here? <a href="{{ url_for('orders.add_vendor') }}">Add it!</a></p>
                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Part Info</legend>
                    <div class="row">
                        <div class="col-md-2">
                            {{ form.part_name.label }}
                            {{ form.part_name(class="form-control", value=order.part_name, maxlength="150") }}
                        </div>
                        <div class="col-md-2">
                            {{ form.part_url.label }}
                            {{ form.part_url(class="form-control", value=order.part_url, maxlength="350" ) }}
                        </div>
                        <div class="col-md-2">
                            {{ form.part_number.label }}
                            {{ form.part_number(class="form-control", value=order.part_number, maxlength="15") }}
                        </div>
                        <div class="col-md-2">
                            {{ form.part_quantity.label }}
                            {{ form.part_quantity(id="part_quantity", class="quantity form-control",
                            value=order.part_quantity, maxlength="5") }}
                        </div>
                        <div class="col-md-2">
                            {{ form.part_unit_price.label }}
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                {{ form.part_unit_price(class="price", id="part_unit_price", class="form-control", step="0.01", value=order.part_unit_price, maxlength="5") }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Shipping Cost</label>

                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" id="part_shipping_cost" name="part_shipping_cost"
                                       class="form-control" value="{{ order.part_shipping_cost }}" step="0.01">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Credit</label>

                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" id="part_credit" name="part_credit"
                                       class="form-control" value="{{ order.credit }}" step="0.01">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Part Total Price</label>

                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="text" id="part_total_price" readonly class="form-control part_total">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">MetaData</legend>
                    <div class="row">
                        <div class="col-md-3">
                            <label>For Subteam...</label>
                            <select name="for_subteam" id="for_subteam" class="form-control" required>
                                {% for subteam in subteams %}
                                    <option value="{{ subteam.id }}"
                                            {% if subteam.id == order.part_for_subteam %}selected{% endif %}>{{ subteam.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label>Ordered By</label>
                            <input type="hidden" name="ordered_by" id="ordered_by" value="{{ order.part_ordered_by }}">
                            <input type="text" id="user_name" class="form-control disabled" required
                                   readonly
                                   placeholder="{{ order.ordering_user.first_name }} {{ order.ordering_user.last_name }}">
                        </div>

                        <div class="col-md-3">
                            {{ form.ordered_on.label }}
                            {{ form.ordered_on(class="form-control", value=order.part_ordered_on, readonly=True, maxlength="150") }}
                        </div>
                        <div class="col-md-3">
                            {{ form.needed_by.label }}
                            {{ form.needed_by(id="datepicker", class="form-control", value=order.part_needed_by, maxlength="150") }}
                        </div>
                    </div>
                </fieldset>
                <br>

                <div class="col-md-3 pull-left">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Totals</legend>
                        <label><strong>Subtotal</strong></label>

                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="subtotal form-control" readonly>
                        </div>

                        <label><strong>Total</strong></label>

                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="total form-control" readonly>
                        </div>
                    </fieldset>
                </div>
                <input type="submit" class="kube-btn kube-btn-green kube-btn-outline" value="Update Order">
            </form>
        </div>
    </div>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block scripts %}
    <script src="/static/js/mort/orders.js"></script>
    <script src="/static/lib/jqueryui/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: 'mm-dd-yy'
            });
        });
    </script>
    <script src="/static/js/bootstrap-maxlength.min.js" type="text/javascript"></script>
    <script>
        $('input[maxlength]').maxlength({
            placement: 'bottom-right'
        });
    </script>
    <script>
        $(document).ready(function () {
            updateTotalCost();
        });
        $(document).on("change", "#part_quantity", function () {
            updateTotalCost();
        });

        $(document).on("change", "#part_unit_price", function () {
            updateTotalCost();
        });

        $(document).on("change", "#part_shipping_cost", function () {
            updateTotalCost();
        });

        $(document).on("change", "#part_credit", function () {
            updateTotalCost();
        });

        function updateTotalCost() {
            var quantity = isNaN(parseInt($('#part_quantity').val())) ? 0 : parseInt($('#part_quantity').val());
            var unitPrice = isNaN(parseFloat($('#part_unit_price').val())) ? 0 : parseFloat($('#part_unit_price').val());
            var shipping_cost = isNaN(parseFloat($('#part_shipping_cost').val())) ? 0 : parseFloat($('#part_shipping_cost').val());
            var credit = isNaN(parseFloat($('#part_credit').val())) ? 0 : parseFloat($('#part_credit').val());

            var totalPrice = ((quantity * unitPrice) + shipping_cost) - credit;
            $('.part_total').val((totalPrice));
            $(".subtotal").val(totalPrice);
            $(".total").val(totalPrice);
        }
    </script>
{% endblock %}