{% extends 'base.html' %}
{% block page_title %}Posts in category - {{ category }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10">
            {% if posts|length == 0 %}
                {% include 'cms/blog/no-posts.html' %}
            {% else %}
                {% for post in range(posts|length) %}
                    {# May cause some bottlenecking issues in the future #}
                    {% set post_author = user.query.filter(user.id == posts[post][0]).first() %}
                    <article>
                        <div class="well">
                            <h3><a href="/blog/{{ category }}/{{ posts[post][1] }}">{{ posts[post][2] }}</a></h3>
                            <h6>Written by <a href="#">{{ post_author.first_name }} {{ post_author.last_name }}</a>
                                on {{ posts[post][3] }}
                            </h6>
                        </div>
                    </article>
                {% endfor %}
            {% endif %}
        </div>
        {% include 'cms/blog/blog-sidebar.html' %}
    </div>
{% endblock %}
