{% extends 'base.html' %}
{% block page_title %}{{ post.post_title }}{% endblock %}
{% block page_content %}
    <div class="row">

        <!-- Keeping this sidebar in is questionable -->
        <aside class="col-md-2 well about-author-aside">
            <h5><strong>Post Author</strong></h5>
            <ul class="side-nav text-center">
                <li>
                    <img src="http://placehold.it/150x150">
                    <h5 class="post-author"><strong>{{ post_user.first_name }} {{ post_user.last_name }}</strong></h5>
                    <h6>Class of {{ post_user.grad_year }}</h6>

                    <a href="#" class="btn btn-blue btn-outline">
                        {{ post_user.subteam }}
                    </a>
                </li>
            </ul>
        </aside>
        <div class="col-md-10">
            <article>
                <h3>{{ post.post_title }}</h3>
                <h6>Written by <a href="#">{{ post.posted_by }}</a> on {{ post.post_date }}.</h6>

                <div class="post-content">
                    {{ post.post_content|safe }}
                </div>
            </article>
        </div>
    </div>
{% endblock %}