{% extends 'base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div style="padding: 25px">
                <a href="{{ url_for('UserManager:index') }}" class="btn btn-flat btn-block btn-primary">Manage Users</a>
            </div>
        </div>
        <div class="col-md-6">
            <div style="padding: 25px">
                <a href="fiscal-year.html" class="btn btn-flat btn-block btn-primary">Set Fiscal Year</a>
            </div>
        </div>
        <div class="col-md-6">
            <div style="padding: 25px">
                <a href="{{ url_for('SubteamManager:index') }}" class="btn btn-flat btn-block btn-primary">Manage
                    Subteams</a>
            </div>
        </div>
    </div>
{% endblock %}