{% extends 'base.html' %}
{% block page_title %}Editing page {{ page.page_title }}{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'bases/validation-error-base.html' %}
            <form method="post" name="newpage" id="editForm">
                {{ form.csrf_token }}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            {{ form.page_title.label }}
                            {{ form.page_title(class="form-control", value=page.page_title, maxlength="350") }}
                        </div>

                        <div class="form-group">
                            {{ form.page_url.label }}
                            <div class="input-group">
                                <div class="input-group-addon">http://mort11.org/</div>
                                {{ form.page_url(class="form-control", value=page.page_url, maxlength="150") }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form.page_mode.label }}
                        <select class="form-control" name="page_mode">
                            <option value="public" {% if page.page_mode == "public" %}selected{% endif %}>Public
                                Facing
                            </option>
                            <option value="login_required"
                                    {% if page.page_mode == "login_required" %}selected{% endif %}>Login Required
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 input-group">
                        <div class="row">
                            <div class="col-md-9" id="revisionBox">
                                <label>Revision History</label>
                                <select id="revisionHistory" class="form-control">
                                    {% for revision in revision_history %}
                                        <option value="{{ revision[0] }}"> {% if revision[3] != None %}
                                            {{ revision[3] }}  by
                                        {% endif %}{{ revision[2].username }} - {{ revision[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Styling Guide PopUp -->
                    <div class="modal fade" id="stylingguide" tabindex="-1" role="dialog"
                         aria-labelledby="Styling Guide">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Some Styling Resources</h4>
                                </div>
                                <div class="modal-body">
                                    Here are some resources you may want to make use of when creating/editing pages
                                    <ul>
                                        <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap 3 Docs</a></li>
                                        <li><a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome
                                            Icons</a></li>
                                    </ul>
                                    <hr>
                                    <strong>Bootstrap Note:</strong> Rounded edges were disabled sitewide as a stylistic
                                    choice, so
                                    any Bootstrap elements that have rounded edges will now have sharp edges.
                                    <hr>
                                    <strong>FontAwesome note:</strong> Make sure that when you add icons, you put "&
                                    nbsp" without spaces
                                    between the
                                    &lt;i&gt; tags, otherwise your editor will remove the icon.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        {{ form.page_content.label }} <a class="pull-right" data-toggle="modal"
                                                         data-target="#stylingguide">Styling Guide</a>
                        <textarea rows="25" id="page-content" name="page_content"
                                  class="form-control">{{ page.page_content }}</textarea>
                    </div>
                    <div class="col-md-6">
                        {{ form.page_scripts.label }}
                        <textarea rows="5" name="page_scripts"
                                  class="form-control">{{ page.page_scripts }}</textarea>
                    </div>
                    <div class="col-md-6">
                        {{ form.page_styles.label }}
                        <textarea rows="5" name="page_styles"
                                  class="form-control">{{ page.page_styles }}</textarea>
                    </div>

                    <!-- Revision Info PopUp -->
                    <div class="modal fade" id="revisioninfo" tabindex="-1" role="dialog"
                         aria-labelledby="Revision Info">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{ form.revision_description.label }}</h4>
                                </div>
                                <div class="modal-body">
                                    Briefly describe the changes you made to the page.
                                    {{ form.revision_description(class="form-control", required='required') }}
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-success btn-block" value="Done"
                                           onclick="console.log('Test')">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <a class="btn btn-success btn-block" style="margin-top: 15px" data-toggle="modal"
                           data-target="#revisioninfo">Update
                            Page</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% include 'cms/mce_page_settings.html' %}

    <script>
        var revision_id = null;

        $("#revisionHistory").change(function () {
            revision_id = $('#revisionHistory').val();
            $('#revisionButton').remove();
            $('<div class="col-md-3" id="revisionButton"><button class="btn btn-danger" onclick="confirmRevert()">Revert to this</button></div>').insertAfter("#revisionBox");
        });

        function confirmRevert() {
            if (confirm("Are you sure you want to revert to this edit?")) {
                var data = new FormData;
                data.append('page_id', {{ page.id }});
                data.append('revision_version', revision_id);
                $.ajax({
                    type: "POST",
                    url: '/cms/pages/revert',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: window.location.reload()
                });
            }
        }
    </script>
    <script src="/static/js/bootstrap-maxlength.min.js" type="text/javascript"></script>
    <script>
        $('input[maxlength]').maxlength({
            placement: 'bottom-right'
        });
    </script>
{% endblock %}